/* ===== API Key section ======*/
.apikey-sec {
    & input {
        height: 50px;
    }

    & table {
        & tr {
            & th {
                background-color: $placeholder-color;
                color: $secondary-color;
                border-right: 1px solid $theme-color;
                padding: 15px;
                border-bottom: none;

                &:last-child {
                    border-right: none;
                }
            }

            & td {
                border-right: 1px solid $theme-color;
                border-top: none;
                padding: 15px;
                color: #858585;

                &:first-child, & span {
                    color: $theme-color;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    & .api-code-sec {
        background-color: #F7F7F7;
    }
}
