/* ===== sms section ======*/
.sms-platform-sec {
    & p {
        font-size: 16px;
        line-height: 25px;
        color: $light-gray;
    }

    & input {
        background: #E8E8E8;
        height:50px;
    }

    & .rated {
        font-size: 20px;
        color: $light-gray;
    }

    & .border-bottom {
        border-bottom: 1px solid #858585 !important;
    }
}
/* ===== Feature section ======*/
.features_sec {
    & p {
        color: $light-gray;
        font-size: 14px;
        line-height: 24px;
    }
}
/* ===== Pramotional sms section ======*/
.pramotional-sms-sec {
    background: rgba(11, 13, 74, 0.015);

    & .heading3 {
        font-size: 24px;
        line-height: 25px;
    }

    & p {
        line-height: 22px;
        color: $light-gray;
    }

    & ul {
        & li {
            font-size: 14px;

            & span {
                background: #fbfbfb;
                border: 1px solid #0B0D4A;
                @include border-radius(100px);
                height: 50px;
                width: 50px;
                margin: auto;
                padding: 12px 0;
                margin-bottom: 15px;
            }
        }

        &::after {
            @include position(absolute,$top:30%,$left:0,$right:0);
            content: '';
            width: 97%;
            margin: auto;
            z-index: -1;
            border-bottom: 1px dashed $theme-color;
        }
    }
}
/* ===== Pricing section ======*/
.pricing-sec {
    & p {
        color: #C4C4C4;
        font-size: 16px;
    }

    & span {
        color: $light-gray;
        font-size: 16px;
    }

    & .pricing-table {
        & th {
            background: $theme-color;
            color: $white-color;
            padding: 15px;
        }

        & tr {
            background: $white-color;

            & td {
                font-weight: 300;

                & span {
                    color: $theme-color;
                }
            }
        }
    }

    & .pricing-sms {
        & li {
            position: relative;
            padding-left: 30px;
            line-height:50px;
            font-size:16px;
            &::after {
                background-image: url("../../images/home/correct-vector.svg");
                content: '';
                width:17px;
                height:17px;
                @include position(absolute,$top:16px,$left:0);
            }
        }
    }

    & .pricing-features {
        & li {
            text-align: left;
            margin-bottom: 15px;
            position: relative;
            padding-left: 15px;
            color: #858585;

            &::after {
                background: $black-color;
                @include position(absolute,$top:4px,$left:0);
                @include border-radius(100px);
                content: '';
                width: 6px;
                height: 6px;
            }
        }
    }
}

.main {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: #171717;

    @media screen and (min-width: 1025px) {
        height: 100vh;
    }

    & .top {
        width: 100%;
        height: 300px;
        box-sizing: content-box;
        padding-top: 10px;
        position: relative;
        background: #ff9411;
        color: white;
        font-size: 11px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 150px solid #171717;
            border-left: 250px solid transparent;
            border-right: 250px solid transparent;

            @media screen and (max-width: 430px) {
                border-bottom: 150px solid #171717;
                border-left: 215px solid transparent;
                border-right: 215px solid transparent;
            }
        }

        .main-nav {
            list-style: none;
            z-index: 1;
            height: 35px;

            .nav-item {
                .nav-link {
                    color: #171717;
                    font-weight: 600;
                    padding: .4rem 1rem;
                    list-style: none;
                    border: 1px solid transparent;

                    @media screen and (max-width: 430px) {
                        padding: 5px;
                    }

                    &.active {
                        background-color: transparent;
                        border: 1px solid #171717;
                        border-radius: 5px;
                    }
                }
            }

            .right-border {
                border-right: 1.5px solid #171717;
                margin: 5px 10px;
                height: 15px;

                @media screen and (max-width: 575px) {
                    margin: 5px;
                }
            }
        }
    }

    & .bottom {
        background: #171717;
        // height: 100%;
        // position: relative;
        .hexaprofile {
            background-image: url("../images/hexagon.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            filter: drop-shadow(0px 29px 15px #000);
            background-position: center center;
            background-size: contain;
            height: 80vh;
            position: relative;
            width: 100%;
            margin-top: -40vh;

            @media screen and (max-width: 575px) {
                margin-top: -40vh;
                height: 70vh;
            }

            .content {
                /*position: absolute;
                top: 5vh;
                text-align: center;
                margin: 0 auto;
                width: 60%;*/
                .profile {
                    border: 2px solid #ff9411;
                }

                .detail {
                    p {
                        line-height: 25px;
                        color: #818181;

                        @media screen and (max-width: 570px) {
                            font-size: 12px;
                        }

                        & a {
                            color: #818181;
                        }
                    }
                }

                .socials {
                    ul {
                        padding: 5px 0;

                        li {
                            display: inline-block;
                            list-style: none;
                            background: #ff9411;
                            border-radius: 50px;
                            padding: 7px;
                            width: 30px;
                            height: 30px;
                            margin: 0 8px;
                            line-height: 15px;

                            img {
                                margin: 0 auto;
                                width: 18px;
                            }
                        }
                    }

                    & .share-modal {
                        cursor: pointer;
                    }
                }
            }
        }

        .scanner {
            img {
                border-radius: 10px;
                border: 1px solid #fff;
                box-shadow: 1px 0 4px 0px #fff;
                padding: 3px;
            }
        }

        .myaccordion {
            flex-direction: column;
            padding: 0;

            .btn-link {
                color: #fff;
                border: 1px solid #f8f9fa;
                margin: 10px 0;
            }

            .card {
                background-color: #fe9311;

                .btn-primary {
                    color: #171717;
                    background-color: #ff9411;
                    font-weight: bold;
                    border: none;
                    padding: 0.375rem 0.5rem !important;
                }
            }


            p {
                color: #fff;
                font-size: 13px;
                line-height: 25px;
            }

            .popup-gallery {
                a {
                    display: inline-block;
                    margin: 10px 0;

                    img {
                        height: auto;
                        width: 100%;
                        border: 0.5px solid #ff9411;
                        border-radius: 4px;
                        padding: 1px;
                    }
                }

                .video {
                    position: relative;


                    .overlay {
                        background-color: rgba(0, 0, 0, 0.15);
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        overflow: hidden;
                        position: absolute;
                        text-align: center;
                        z-index: 20;
                        width: 100%;
                        bottom: 0;
                        display: flex;
                        right: 0;
                        justify-content: center;
                        border: none;
                        align-items: center;

                        img {
                            width: 20px;
                            border: none;
                        }
                    }
                }
            }
        }

        .details {
            flex-direction: column;
            color: #fff;

            p {
                margin: 0;
                font-size: 14px;
                color: #a5a5a5;
            }
        }

        .share {
            // margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    list-style: none;
                    background: #ff9411;
                    border-radius: 50px;
                    padding: 7px;
                    width: 35px;
                    height: 35px;
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 18px;
                    }
                }
            }
        }
    }

    & .share-option-popup {
        background: $white-color;
        @include position(fixed,$top:0,$bottom:0);
        height: 100%;
        width: 100%;
        max-width: 500px;
        z-index: 99;
        transform: translate(0,100%);
        opacity: 0;
        visibility: hidden;
        @include transform(translate(0,100%));
        @include transition(all 0.3s ease-in-out 0s);

        & ul {
            height: 100%;
            min-height: 100%;
            overflow: auto;

            & li {
                padding: 15px 30px;
                border-bottom: 1px solid $light-gray;

                & .custom-checkbox {
                    & label {
                        cursor: pointer;
                    }
                }
            }
        }

        &.active {
            @include transform(translate(0,0));
            opacity: 1;
            visibility: visible;
        }

        & .sharelink-btn {
            cursor: pointer;
        }

        & .accordion {
            & button {
                cursor: pointer;

                & label {
                    &::before, &::after {
                        top: 6px;
                    }
                }
            }
        }
    }

    & .social-follow {
        background: $white-color;
        @include position(fixed,$bottom:0);
        min-height: 100px;
        width: 100%;
        max-width: 500px;
        z-index: 99;
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        transform: translate(0,100%);
        @include transition(all 0.4s ease-in-out 0s);
        @include box-shadow(0 0 6px rgba(0,0,0,0.7));

        & ul {
            & li {
                & a {
                    & img {
                        filter: drop-shadow(0px 0 3px rgba(0,0,0,0.5));
                    }
                }
            }
        }

        &.active {
            @include transform(translate(0,0));
            opacity: 1;
            visibility: visible;
            @include transition(all 0.4s ease-in-out 0s);
        }
    }

    & .overlay {
        @include transition(all 0.4s ease-in-out 0s);
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
            height: 100%;
            width: 100%;
            z-index: 9;
            background: rgba(0,0,0,.5);
            @include transition(all 0.4s ease-in-out 0s);
            @include position(fixed,$top:0,$bottom:0);
        }
    }

    & .subscribe {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
}

@media screen and (max-width: 430px) {
    .profile {
        width: 80px;
    }
}
