/* ===== Login section ======*/
.login-sec {
    & .title-text {
        font-size: 27px;
        color: $theme-color;
        font-weight: 500;
    }

    & button {
        height: 50px;
        font-size: 18px;
        @include border-radius(5px);
    }

    & .forgot-pass {
        right: 15px;
        top: 20px;
        color: $light-gray;
        font-size: 13px;
        font-weight: 500;

        &:hover {
            color: $theme-color;
        }
    }

    #msform {
        & fieldset {
            &:not(:first-of-type) {
                display: none;
            }

            & .theme-btn {
                height: 50px;
            }
        }
    }

    #progressbar {
        & li {
            list-style-type: none;
            width: 10px;
            height: 10px;
            border: 1px solid $theme-color;
            display: inline-block;
            position: relative;
            @include border-radius(50px);

            &.active {
                background-color: $theme-color;
            }
        }
    }
}

.forgot-sec {
    & button{height:50px;}
    & #Reset1 {
        & span {
            top: 18px;
            left: 20px;
            font-size: 16px;
            font-weight: 500;
            border-right: 1px solid $light-gray;
        }

        & input {
            padding-left: 85px;
        }
    }
}
