/* ===== User Panel section ======*/
.rightside-contact {
    & .search {
        background-color: #F3F3F3;
        padding: 0 15px;

        & input {
            height: 50px;
            color: #C4C4C4;
            font-size: 17px;

            &::placeholder, &::-webkit-input-placeholder, &::-webkit-input-placeholder, &::-moz-placeholder {
                color: #C4C4C4;
            }
        }
    }

    & .contact-list {
        overflow: auto;
        height: 100vh;

        & li {
            padding: 10px 15px;

            &:nth-child(2n) {
                background-color: #F9F9F9;
            }

            & span {
                background: rgba(196, 196, 196, 0.5);
                @include border-radius(10px);
                width: 32px;
                height: 32px;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                line-height: 32px;
            }

            & .media-body {
                color: #858585;

                & h5 {
                    color: $theme-color;
                    font-size: 16px;
                }
            }

            & .action-btn {
                visibility: hidden;
                opacity: 0;
                @include transition(all 300ms ease 0s);

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
/* ===== SMS Panel section ======*/
.sms-panel {
    & .nav-pills {
        & li {
            & a {
                padding: 10px 0;
                margin: 0 20px;
                font-size: 16px;
                font-weight: 400;
                color: $drak-gray;
                border-bottom: 2px solid $gray;

                &.active {
                    color: $theme-color;
                    border-bottom: 2px solid $theme-color;
                }
            }
        }
    }

    & .tab-content {
        & .send-option {
            & .nav {
                & a {
                    font-size: 14px;
                    border: none;
                    color: $theme-color;
                    font-weight: 500;
                    padding: 0 0 0 25px;

                    &.active {
                        color: $secondary-color;

                        &::after {
                            border: 3px solid $secondary-color;
                        }
                    }

                    &::after {
                        border: 1px solid $theme-color;
                        content: '';
                        width: 14px;
                        height: 14px;
                        @include position(absolute,$top:0,$left:0);
                        @include border-radius(100px);
                    }
                }
            }
        }

        & .mobile-num {
            & span {
                top: 18px;
                left: 20px;
                font-size: 16px;
                font-weight: 500;
                border-right: 1px solid $light-gray;
            }

            & input {
                padding-left: 85px;
            }
        }

        & h2 {
            color: $placeholder-color;
            font-size: 24px;
            line-height: 35px;
        }

        & #address-book {
            & #multiple-contacts {
                & p {
                    font-size: 16px;
                    line-height: 25px;
                    color: #858585;
                }
            }
        }
    }
}
.transaction-history-sec {
    & p {
        color: $placeholder-color;
        font-size:22px;
        margin-top:10px;
    }
}