/* Buttons */
a, button {
    @include transition(all 400ms ease-in 0s);
    @include border-radius(0);
    font-family: $primary-font;
   
    &:hover, &:focus {
        text-decoration: none !important;
    }
}

.btn {
    @include transition(all 300ms ease 0s);
    @include border-radius(5px);
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-weight: 500;
    letter-spacing:1px;
}

.theme-btn {
    background: $theme-color;
    border: 1px solid $theme-color;
    @include font-size(14px);
    color: $gray;
    padding: 8px 20px;
    height: 50px;

    &:hover {
        background: $secondary-color;
        color:$white-color;
    }
}
.secondary-btn {
    background: $secondary-color;
    border: 1px solid $theme-color;
    @include font-size(14px);
    color: $gray;
    padding: 8px 20px;
    height: 50px;

    &:hover {
        background: $theme-color;
        color: $white-color;
    }
}