/* custom input section */
.custom-control {
    padding: 0;
    margin: 20px 0;

    & label {
        @include position(absolute,$top:-6px,$left:20px);
        background: $gray;
        padding: 0 10px;
        font-size: 12px;
        font-weight: 400;
        z-index: 1;
    }

    & .span {
        top: 18px;
        left: 20px;
        font-size: 16px;
        font-weight: 500;
        border-right: 1px solid #555555;
    }

    .form-control {
        font-family: $primary-font;
        @include font-size(13px);
        @include border-radius(5px);
        color: $light-gray;
        background: $gray;
        border: 1px solid $theme-color;
        box-shadow: none;
        padding: 0 30px;
        height: 50px;
        resize: none;
    }

    & textarea {
        background: $gray;
        @include border-radius(5px);
        border: 1px solid $theme-color;

        &::placeholder, &::-webkit-input-placeholder, &::-webkit-input-placeholder, &::-moz-placeholder {
            color: #C4C4C4;
        }
    }

    &.custom-select {
        & select {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;

            &::placeholder, &::-webkit-input-placeholder, &::-webkit-input-placeholder, &::-moz-placeholder {
                color: #C4C4C4;
            }
        }

        &::after {
            background-image: url("../images/down-arrow.png");
            content: '';
            width: 11px;
            height: 6px;
            @include position(absolute,$top:22px,$right:12px);
        }
    }
}
.theme-color {
    color: $theme-color;

    &:hover {
        color: $secondary-color;
    }
}


/*---------- 1.7.1 placeholder styling ----------*/
textarea::placeholder {
    color: $placeholder-color;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $placeholder-color;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: $placeholder-color--focus;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: $placeholder-color;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    color: $placeholder-color--focus;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: $placeholder-color;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    opacity: 1;
    color: $placeholder-color--focus;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: $placeholder-color;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    color: $placeholder-color--focus;
}