.heading1 {
    font-size: 34px;
    font-weight: 500;
    color: $theme-color;

    @media screen and (max-width: 430px) {
        font-size: 20px;
    }
}

.heading2 {
    color: $black-color;
    font-family: $primary-font;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 4px solid $theme-color;
}

.heading3 {
    color: $theme-color;
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    position: relative;
}
.heading4 {
    color: $black-color;
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    position: relative;
}
