// ==========================================================================
// Global Config
// ==========================================================================

// Font Family
$primary-font: 'Rubik', sans-serif;
$primary-font-bold: "Poppins-Bold", sans-serif;
$primary-font-semibold: "Poppins-SemiBold", sans-serif;
$primary-font-light: "Poppins-Light", sans-serif;

$roman-font: "gothic-roman", sans-serif;

// Font Size
$primary-font-size: 13px;
$base-font-size: 14px;

// Text
$placeholder-color: #C4C4C4;
$placeholder-color--focus: #C4C4C4;

// Store path
$img-path : "../images/";
$font-path : "../fonts/";

// Site Color Scheme
$theme-color: #0B0D4A;
$secondary-color: #4308BF;
$black-color : #171717;
$white-color : #ffffff;
$gray: #FDFDFD;
$light-gray: #555555;
$drak-gray: #999999;
@mixin media-mobile {
    @media screen and (max-width : 1024px) {
        @content;
    }
}
@mixin media-desktop {
    @media screen and (min-width : 1025px) {
        @content;
    }	
}