body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  height: 100vh;
  /*@include media-breakpoint-down(sm) {
        font-size: 11px;
    }*/ }

a, a:hover {
  text-decoration: none; }

.main {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: #171717;
  /*.top {
        background: #ff9411;
        display: flex;
        justify-content: center;
        height: 30vh;
        max-height: 100%;
        position: relative;

        &::before {
            background-color: #171717;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
        }
    }*/ }
  @media screen and (min-width: 1025px) {
    .main {
      height: 100vh; } }
  .main .top {
    width: 100%;
    height: 300px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: #ff9411;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden; }
    .main .top::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 150px solid #171717;
      border-left: 250px solid transparent;
      border-right: 250px solid transparent; }
      @media screen and (max-width: 430px) {
        .main .top::after {
          border-bottom: 150px solid #171717;
          border-left: 215px solid transparent;
          border-right: 215px solid transparent; } }
    .main .top .main-nav {
      list-style: none;
      z-index: 1; }
      .main .top .main-nav .nav-item .nav-link {
        color: #171717;
        font-weight: 600;
        padding: .2rem 1rem;
        list-style: none;
        border: 1px solid transparent; }
        @media screen and (max-width: 430px) {
          .main .top .main-nav .nav-item .nav-link {
            padding: 5px; } }
        .main .top .main-nav .nav-item .nav-link.active {
          background-color: transparent;
          border: 1px solid #171717;
          border-radius: 5px; }
      .main .top .main-nav .right-border {
        border-right: 1.5px solid #171717;
        margin: 5px 15px;
        height: 20px; }
        @media screen and (max-width: 430px) {
          .main .top .main-nav .right-border {
            margin: 5px 2px; } }
  .main .bottom {
    background: #171717; }
    .main .bottom .hexaprofile {
      background-image: url("../assets/icon/hexagon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      -webkit-filter: drop-shadow(0px 29px 15px #000);
      filter: drop-shadow(0px 29px 15px #000);
      background-position: center center;
      background-size: contain;
      height: 100vh;
      position: relative;
      width: 100%;
      margin-top: -50vh; }
      @media screen and (max-width: 575px) {
        .main .bottom .hexaprofile {
          margin-top: -35vh;
          height: 60vh; } }
      .main .bottom .hexaprofile .content {
        /*position: absolute;
                top: 5vh;
                text-align: center;
                margin: 0 auto;
                width: 60%;*/ }
        .main .bottom .hexaprofile .content .profile {
          border: 2px solid #ff9411; }
        .main .bottom .hexaprofile .content .detail p {
          line-height: 25px;
          color: #818181; }
          .main .bottom .hexaprofile .content .detail p a {
            color: #818181; }
        .main .bottom .hexaprofile .content .socials ul {
          padding: 5px 0; }
          .main .bottom .hexaprofile .content .socials ul li {
            display: inline-block;
            list-style: none;
            background: #ff9411;
            border-radius: 50px;
            padding: 7px;
            width: 30px;
            height: 30px;
            margin: 0 5px;
            line-height: 15px; }
            .main .bottom .hexaprofile .content .socials ul li img {
              margin: 0 auto;
              width: 18px; }
    .main .bottom .scanner img {
      border-radius: 10px;
      border: 1px solid #fff;
      -webkit-box-shadow: 1px 0 4px 0px #fff;
      box-shadow: 1px 0 4px 0px #fff;
      padding: 3px; }
    .main .bottom .myaccordion {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 5vh 0; }
      .main .bottom .myaccordion .btn-link {
        color: #fff;
        border: 1px solid #f8f9fa;
        margin: 10px 0; }
      .main .bottom .myaccordion .card {
        background-color: #fe9311; }
        .main .bottom .myaccordion .card .btn-primary {
          color: #171717;
          background-color: #ff9411;
          font-weight: bold;
          border: none;
          padding: 0.375rem 0.5rem !important; }
      .main .bottom .myaccordion p {
        color: #fff;
        font-size: 13px; }
      .main .bottom .myaccordion .popup-gallery a {
        display: inline-block;
        margin: 10px 0; }
        .main .bottom .myaccordion .popup-gallery a img {
          height: auto;
          width: 100%;
          border: 0.5px solid #ff9411;
          border-radius: 4px;
          padding: 1px; }
      .main .bottom .myaccordion .popup-gallery .video {
        position: relative; }
        .main .bottom .myaccordion .popup-gallery .video .overlay {
          background-color: rgba(0, 0, 0, 0.15);
          cursor: pointer;
          top: 0;
          left: 0;
          overflow: hidden;
          position: absolute;
          text-align: center;
          z-index: 20;
          width: 100%;
          bottom: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          right: 0;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: none;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .main .bottom .myaccordion .popup-gallery .video .overlay img {
            width: 20px;
            border: none; }
    .main .bottom .details {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #fff; }
      .main .bottom .details p {
        margin: 0;
        font-size: 14px;
        color: #a5a5a5; }
    .main .bottom .share {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main .bottom .share ul {
        padding: 30px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .main .bottom .share ul li {
          list-style: none;
          background: #ff9411;
          border-radius: 50px;
          padding: 7px;
          width: 35px;
          height: 35px;
          margin: 0 25px;
          line-height: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .main .bottom .share ul li img {
            margin: 0 auto;
            width: 18px; }

.heading1 {
  font-size: 24px; }
  @media screen and (max-width: 430px) {
    .heading1 {
      font-size: 20px; } }

@media screen and (max-width: 430px) {
  .profile {
    width: 80px; } }
