/* Footer section */
footer {
    @include box-shadow(0px -2px 4px rgba(0, 0, 0, 0.05));
    & ul{
        & li{
            & a{
                color:$theme-color;
                font-size:14px;
            }
        }
    }
}

.footer-wrapper {
    background: $black-color;
    position: relative;
    z-index: 1;

    & h3 {
        color: $white-color;
        font-size: 24px;
        font-family: $primary-font-semibold;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;

        @include media-desktop {
            &::after {
                @include position(absolute,$bottom:0,$left:0);
                border-bottom: 3px solid #707070;
                width: 100px;
                content: "";
            }
        }

        @include media-mobile {
            margin-bottom: 0;

            .right-arrow {
                @include position(absolute, $top:9px, $right: 0);
                width: 18px;
                height: 18px;
            }

            &.active {
                & .right-arrow {
                    & i {
                        @include transform(rotate(-180deg));
                        @include transition(all 0.5s ease-in);
                    }
                }
            }
        }
    }

    & .footer-links {

        @include media-mobile {
            border-bottom: 1px solid #707070;
            & h3 {
                padding: 10px 0;
                font-size: 14px;
            }
        }

        & li {
            margin-bottom: 10px;

            & a {
                color: $light-gray;
                font-size: 14px;
                line-height: 25px;
                cursor: pointer;
                font-family: $primary-font;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        & .newsletter {
            & input {
                @include border-radius(10px);
                height: 50px;
            }

            & button {
                right: 20px;
                top: 12px;
                z-index: 1;
            }
        }

        & .social-follow {
            & li {
                margin-right: 10px;

                & a {
                    background: #6b6976;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    @include border-radius(50px);

                    &:hover {
                        background: $theme-color;
                    }
                }
            }
        }
    }

    & .copyright {
        border-top: 1px solid #707070;
        font-size: 12px;

        & a {
            color: $theme-color;
        }
    }
}
    .goTop {
        background-color: $theme-color;
        padding: 10px 0;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: none;
        text-align: center;
        z-index: 999;
        @include position(fixed, $bottom:20%, $right: 10px);
        @include border-radius(50px);

        @media (max-width: 768px) {
            @include position(fixed, $bottom:3%);
        }
    }
