/* Header Section */
header {
    @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.05));
    position: relative;
    @include media-desktop{
        z-index: 1;
    }

    & .dropdown-toggle {
        &::after {
            border-top: 0.3em solid #000;
        }
    }

    & .dropdown-menu {
        padding: 0;

        & a {
            padding: 15px 10px;
            font-size: 14px;

            &:hover {
                background-color: $secondary-color;
                color: $white-color;
            }
        }
    }

    & .theme-btn {
        height: auto;
    }
}

.menu-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    @include position(fixed, $top: 0, $left: 0);
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    z-index: 9;
    @include transition(all 300ms ease 0s);

    &.shows {
        opacity: 1;
        visibility: visible;
    }
}
/* menu trigger */
.navbar-toggle {
    @include media-mobile {
        background: none;
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;

        span {
            width: 100%;
            display: block;
            height: 2px;
            background-color: $black-color;
            @include position(absolute, $left:0,$right:0);
        }

        &:after,
        &:before {
            content: '';
            @include position(absolute, $left:0);
            height: 2px;
            width: 100%;
            background-color: $black-color;
        }

        &:after {
            top: 0;
        }

        &:before {
            bottom: 0;
        }
    }
}