/* Navigation Section */
.main-nav {
    @include transition(all 0.5s ease-in-out);

    & > li {
        @include media-mobile {
            position: relative;
        }

        & .expand-icon {
            @include position(absolute,$top:12px,$right:0);
            width: 40px;
            height: 25px;
            text-align: center;
            line-height: 25px;

            &.active {
                & i {
                    background-position: -132px -81px;
                    width: 18px;
                    height: 5px;
                }
            }
        }

        & > a {
            color: $theme-color;
            position: relative;
            line-height: 18px;
            font-family: $primary-font;
            padding: 8px 15px;
            display: block;
            font-size: 16px;
            border: 1px solid transparent;
            @include media-desktop {
                @include border-radius(5px);

                &.active, &:hover {
                    border: 1px solid $theme-color;
                }
            }

            @include media-mobile {
                border-bottom: 1px solid $light-gray;
                padding: 20px 20px;
            }
        }

        @media (max-width: 992px) {
            display: block;
        }
    }

    @include media-mobile {
        background-color: $gray;
        @include position(fixed,$top:0,$bottom:0,$left:0);
        @include transform(translateX(-285px));
        height: calc(100vh);
        width: 285px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        z-index: 999;

        &.nav-visible {
            @include translateX(0);
        }
    }
}
