/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v9-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/rubik-v9-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-300.woff2") format("woff2"), url("../fonts/rubik-v9-latin-300.woff") format("woff"), url("../fonts/rubik-v9-latin-300.ttf") format("truetype"), url("../fonts/rubik-v9-latin-300.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v9-latin-regular.woff") format("woff"), url("../fonts/rubik-v9-latin-regular.ttf") format("truetype"), url("../fonts/rubik-v9-latin-regular.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v9-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik-v9-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-500.woff2") format("woff2"), url("../fonts/rubik-v9-latin-500.woff") format("woff"), url("../fonts/rubik-v9-latin-500.ttf") format("truetype"), url("../fonts/rubik-v9-latin-500.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-700.woff2") format("woff2"), url("../fonts/rubik-v9-latin-700.woff") format("woff"), url("../fonts/rubik-v9-latin-700.ttf") format("truetype"), url("../fonts/rubik-v9-latin-700.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/*----------------------------------------------*/
/*  1.1 Normalize Style
/*----------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*----------------------------------------------*/
/*  1.2 Element Styles
/*----------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

html {
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: #171717;
  background-color: #FDFDFD;
  animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -webkit-animation-name: fadeIn 2s;
  animation-name: fadeIn 2s;
  letter-spacing: 1px;
  height: 100vh; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  max-width: 1200px; }

a {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

/*----------------------------------------------*/
/*  Helper Class
/*----------------------------------------------*/
.extra-small-gutter > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px; }

.extra-small-gutter.row {
  margin-right: -5px;
  margin-left: -5px; }

.small-gutter > [class*='col-'] {
  padding-right: 10px;
  padding-left: 10px; }

.small-gutter.row {
  margin-right: -10px;
  margin-left: -10px; }

.no-gutter > [class*='col-'] {
  padding-right: 0px;
  padding-left: 0px; }

.no-gutter.row {
  margin-right: 0px;
  margin-left: 0px; }

.font-weight-500 {
  font-weight: 500; }

.heading1 {
  font-size: 34px;
  font-weight: 500;
  color: #0B0D4A; }
  @media screen and (max-width: 430px) {
    .heading1 {
      font-size: 20px; } }

.heading2 {
  color: #171717;
  font-family: "Rubik", sans-serif;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 15px;
  position: relative;
  border-bottom: 4px solid #0B0D4A; }

.heading3 {
  color: #0B0D4A;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
  position: relative; }

.heading4 {
  color: #171717;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
  position: relative; }

/* custom input section */
.custom-control {
  padding: 0;
  margin: 20px 0; }
  .custom-control label {
    position: absolute;
    top: -6px;
    left: 20px;
    background: #FDFDFD;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 400;
    z-index: 1; }
  .custom-control .span {
    top: 18px;
    left: 20px;
    font-size: 16px;
    font-weight: 500;
    border-right: 1px solid #555555; }
  .custom-control .form-control {
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-size: 0.8125rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #555555;
    background: #FDFDFD;
    border: 1px solid #0B0D4A;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 30px;
    height: 50px;
    resize: none; }
  .custom-control textarea {
    background: #FDFDFD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #0B0D4A; }
    .custom-control textarea::-webkit-input-placeholder, .custom-control textarea::-webkit-input-placeholder, .custom-control textarea::-webkit-input-placeholder, .custom-control textarea::-moz-placeholder {
      color: #C4C4C4; }
    .custom-control textarea::placeholder, .custom-control textarea::-webkit-input-placeholder, .custom-control textarea::-webkit-input-placeholder, .custom-control textarea::-moz-placeholder {
      color: #C4C4C4; }
  .custom-control.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
    .custom-control.custom-select select::-webkit-input-placeholder, .custom-control.custom-select select::-webkit-input-placeholder, .custom-control.custom-select select::-webkit-input-placeholder, .custom-control.custom-select select::-moz-placeholder {
      color: #C4C4C4; }
    .custom-control.custom-select select::placeholder, .custom-control.custom-select select::-webkit-input-placeholder, .custom-control.custom-select select::-webkit-input-placeholder, .custom-control.custom-select select::-moz-placeholder {
      color: #C4C4C4; }
  .custom-control.custom-select::after {
    background-image: url("../images/down-arrow.png");
    content: '';
    width: 11px;
    height: 6px;
    position: absolute;
    top: 22px;
    right: 12px; }

.theme-color {
  color: #0B0D4A; }
  .theme-color:hover {
    color: #4308BF; }

/*---------- 1.7.1 placeholder styling ----------*/
textarea::-webkit-input-placeholder {
  color: #C4C4C4; }
textarea:-ms-input-placeholder {
  color: #C4C4C4; }
textarea::-ms-input-placeholder {
  color: #C4C4C4; }
textarea::placeholder {
  color: #C4C4C4; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #C4C4C4; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #C4C4C4; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #C4C4C4; }

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: #C4C4C4; }

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #C4C4C4; }

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 1;
  color: #C4C4C4; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #C4C4C4; }

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #C4C4C4; }

/* Buttons */
a, button {
  -webkit-transition: all 400ms ease-in 0s;
  -moz-transition: all 400ms ease-in 0s;
  -ms-transition: all 400ms ease-in 0s;
  -o-transition: all 400ms ease-in 0s;
  transition: all 400ms ease-in 0s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "Rubik", sans-serif; }
  a:hover, a:focus, button:hover, button:focus {
    text-decoration: none !important; }

.btn {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  font-weight: 500;
  letter-spacing: 1px; }

.theme-btn {
  background: #0B0D4A;
  border: 1px solid #0B0D4A;
  font-size: 14px;
  font-size: 0.875rem;
  color: #FDFDFD;
  padding: 8px 20px;
  height: 50px; }
  .theme-btn:hover {
    background: #4308BF;
    color: #ffffff; }
  @media screen and (max-width: 1024px) {
    .theme-btn {
      padding: 5px 15px; } }

.secondary-btn {
  background: #4308BF;
  border: 1px solid #0B0D4A;
  font-size: 14px;
  font-size: 0.875rem;
  color: #FDFDFD;
  padding: 8px 20px;
  height: 50px; }
  .secondary-btn:hover {
    background: #0B0D4A;
    color: #ffffff; }

/* ===== sms section ======*/
.sms-platform-sec p {
  font-size: 16px;
  line-height: 25px;
  color: #555555; }

.sms-platform-sec input {
  background: #E8E8E8;
  height: 50px; }

.sms-platform-sec .rated {
  font-size: 20px;
  color: #555555; }

.sms-platform-sec .border-bottom {
  border-bottom: 1px solid #858585 !important; }

/* ===== Feature section ======*/
.features_sec p {
  color: #555555;
  font-size: 14px;
  line-height: 24px; }

/* ===== Pramotional sms section ======*/
.pramotional-sms-sec {
  background: rgba(11, 13, 74, 0.015); }
  .pramotional-sms-sec .heading3 {
    font-size: 24px;
    line-height: 25px; }
  .pramotional-sms-sec p {
    line-height: 22px;
    color: #555555; }
  .pramotional-sms-sec ul li {
    font-size: 14px; }
    .pramotional-sms-sec ul li span {
      background: #fbfbfb;
      border: 1px solid #0B0D4A;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      height: 50px;
      width: 50px;
      margin: auto;
      padding: 12px 0;
      margin-bottom: 15px; }
  .pramotional-sms-sec ul::after {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    content: '';
    width: 97%;
    margin: auto;
    z-index: -1;
    border-bottom: 1px dashed #0B0D4A; }

/* ===== Pricing section ======*/
.pricing-sec p {
  color: #C4C4C4;
  font-size: 16px; }

.pricing-sec span {
  color: #555555;
  font-size: 16px; }

.pricing-sec .pricing-table th {
  background: #0B0D4A;
  color: #ffffff;
  padding: 15px; }

.pricing-sec .pricing-table tr {
  background: #ffffff; }
  .pricing-sec .pricing-table tr td {
    font-weight: 300; }
    .pricing-sec .pricing-table tr td span {
      color: #0B0D4A; }

.pricing-sec .pricing-sms li {
  position: relative;
  padding-left: 30px;
  line-height: 50px;
  font-size: 16px; }
  .pricing-sec .pricing-sms li::after {
    background-image: url("../images/home/correct-vector.svg");
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: 16px;
    left: 0; }

.pricing-sec .pricing-features li {
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  padding-left: 15px;
  color: #858585; }
  .pricing-sec .pricing-features li::after {
    background: #171717;
    position: absolute;
    top: 4px;
    left: 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    content: '';
    width: 6px;
    height: 6px; }

.main {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: #171717; }
  @media screen and (min-width: 1025px) {
    .main {
      height: 100vh; } }
  .main .top {
    width: 100%;
    height: 300px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-top: 10px;
    position: relative;
    background: #ff9411;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden; }
    .main .top::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 150px solid #171717;
      border-left: 250px solid transparent;
      border-right: 250px solid transparent; }
      @media screen and (max-width: 430px) {
        .main .top::after {
          border-bottom: 150px solid #171717;
          border-left: 215px solid transparent;
          border-right: 215px solid transparent; } }
    .main .top .main-nav {
      list-style: none;
      z-index: 1;
      height: 35px; }
      .main .top .main-nav .nav-item .nav-link {
        color: #171717;
        font-weight: 600;
        padding: .4rem 1rem;
        list-style: none;
        border: 1px solid transparent; }
        @media screen and (max-width: 430px) {
          .main .top .main-nav .nav-item .nav-link {
            padding: 5px; } }
        .main .top .main-nav .nav-item .nav-link.active {
          background-color: transparent;
          border: 1px solid #171717;
          border-radius: 5px; }
      .main .top .main-nav .right-border {
        border-right: 1.5px solid #171717;
        margin: 5px 10px;
        height: 15px; }
        @media screen and (max-width: 575px) {
          .main .top .main-nav .right-border {
            margin: 5px; } }
  .main .bottom {
    background: #171717; }
    .main .bottom .hexaprofile {
      background-image: url("../images/hexagon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      -webkit-filter: drop-shadow(0px 29px 15px #000);
      filter: drop-shadow(0px 29px 15px #000);
      background-position: center center;
      background-size: contain;
      height: 80vh;
      position: relative;
      width: 100%;
      margin-top: -40vh; }
      @media screen and (max-width: 575px) {
        .main .bottom .hexaprofile {
          margin-top: -40vh;
          height: 70vh; } }
      .main .bottom .hexaprofile .content {
        /*position: absolute;
                top: 5vh;
                text-align: center;
                margin: 0 auto;
                width: 60%;*/ }
        .main .bottom .hexaprofile .content .profile {
          border: 2px solid #ff9411; }
        .main .bottom .hexaprofile .content .detail p {
          line-height: 25px;
          color: #818181; }
          @media screen and (max-width: 570px) {
            .main .bottom .hexaprofile .content .detail p {
              font-size: 12px; } }
          .main .bottom .hexaprofile .content .detail p a {
            color: #818181; }
        .main .bottom .hexaprofile .content .socials ul {
          padding: 5px 0; }
          .main .bottom .hexaprofile .content .socials ul li {
            display: inline-block;
            list-style: none;
            background: #ff9411;
            border-radius: 50px;
            padding: 7px;
            width: 30px;
            height: 30px;
            margin: 0 8px;
            line-height: 15px; }
            .main .bottom .hexaprofile .content .socials ul li img {
              margin: 0 auto;
              width: 18px; }
        .main .bottom .hexaprofile .content .socials .share-modal {
          cursor: pointer; }
    .main .bottom .scanner img {
      border-radius: 10px;
      border: 1px solid #fff;
      -webkit-box-shadow: 1px 0 4px 0px #fff;
      box-shadow: 1px 0 4px 0px #fff;
      padding: 3px; }
    .main .bottom .myaccordion {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0; }
      .main .bottom .myaccordion .btn-link {
        color: #fff;
        border: 1px solid #f8f9fa;
        margin: 10px 0; }
      .main .bottom .myaccordion .card {
        background-color: #fe9311; }
        .main .bottom .myaccordion .card .btn-primary {
          color: #171717;
          background-color: #ff9411;
          font-weight: bold;
          border: none;
          padding: 0.375rem 0.5rem !important; }
      .main .bottom .myaccordion p {
        color: #fff;
        font-size: 13px;
        line-height: 25px; }
      .main .bottom .myaccordion .popup-gallery a {
        display: inline-block;
        margin: 10px 0; }
        .main .bottom .myaccordion .popup-gallery a img {
          height: auto;
          width: 100%;
          border: 0.5px solid #ff9411;
          border-radius: 4px;
          padding: 1px; }
      .main .bottom .myaccordion .popup-gallery .video {
        position: relative; }
        .main .bottom .myaccordion .popup-gallery .video .overlay {
          background-color: rgba(0, 0, 0, 0.15);
          cursor: pointer;
          top: 0;
          left: 0;
          overflow: hidden;
          position: absolute;
          text-align: center;
          z-index: 20;
          width: 100%;
          bottom: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          right: 0;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: none;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .main .bottom .myaccordion .popup-gallery .video .overlay img {
            width: 20px;
            border: none; }
    .main .bottom .details {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #fff; }
      .main .bottom .details p {
        margin: 0;
        font-size: 14px;
        color: #a5a5a5; }
    .main .bottom .share {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main .bottom .share ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .main .bottom .share ul li {
          list-style: none;
          background: #ff9411;
          border-radius: 50px;
          padding: 7px;
          width: 35px;
          height: 35px;
          line-height: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .main .bottom .share ul li img {
            width: 18px; }
  .main .share-option-popup {
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 99;
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .main .share-option-popup ul {
      height: 100%;
      min-height: 100%;
      overflow: auto; }
      .main .share-option-popup ul li {
        padding: 15px 30px;
        border-bottom: 1px solid #555555; }
        .main .share-option-popup ul li .custom-checkbox label {
          cursor: pointer; }
    .main .share-option-popup.active {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible; }
    .main .share-option-popup .sharelink-btn {
      cursor: pointer; }
    .main .share-option-popup .accordion button {
      cursor: pointer; }
      .main .share-option-popup .accordion button label::before, .main .share-option-popup .accordion button label::after {
        top: 6px; }
  .main .social-follow {
    background: #ffffff;
    position: fixed;
    bottom: 0;
    min-height: 100px;
    width: 100%;
    max-width: 500px;
    z-index: 99;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7); }
    .main .social-follow ul li a img {
      -webkit-filter: drop-shadow(0px 0 3px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(0px 0 3px rgba(0, 0, 0, 0.5)); }
    .main .social-follow.active {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
  .main .overlay {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden; }
    .main .overlay.active {
      opacity: 1;
      visibility: visible;
      height: 100%;
      width: 100%;
      z-index: 9;
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      position: fixed;
      top: 0;
      bottom: 0; }
  .main .subscribe {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }

@media screen and (max-width: 430px) {
  .profile {
    width: 80px; } }

/* ===== Login section ======*/
.login-sec .title-text {
  font-size: 27px;
  color: #0B0D4A;
  font-weight: 500; }

.login-sec button {
  height: 50px;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.login-sec .forgot-pass {
  right: 15px;
  top: 20px;
  color: #555555;
  font-size: 13px;
  font-weight: 500; }
  .login-sec .forgot-pass:hover {
    color: #0B0D4A; }

.login-sec #msform fieldset:not(:first-of-type) {
  display: none; }

.login-sec #msform fieldset .theme-btn {
  height: 50px; }

.login-sec #progressbar li {
  list-style-type: none;
  width: 10px;
  height: 10px;
  border: 1px solid #0B0D4A;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
  .login-sec #progressbar li.active {
    background-color: #0B0D4A; }

.forgot-sec button {
  height: 50px; }

.forgot-sec #Reset1 span {
  top: 18px;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
  border-right: 1px solid #555555; }

.forgot-sec #Reset1 input {
  padding-left: 85px; }

/* ===== User Panel section ======*/
.rightside-contact .search {
  background-color: #F3F3F3;
  padding: 0 15px; }
  .rightside-contact .search input {
    height: 50px;
    color: #C4C4C4;
    font-size: 17px; }
    .rightside-contact .search input::-webkit-input-placeholder, .rightside-contact .search input::-webkit-input-placeholder, .rightside-contact .search input::-webkit-input-placeholder, .rightside-contact .search input::-moz-placeholder {
      color: #C4C4C4; }
    .rightside-contact .search input::placeholder, .rightside-contact .search input::-webkit-input-placeholder, .rightside-contact .search input::-webkit-input-placeholder, .rightside-contact .search input::-moz-placeholder {
      color: #C4C4C4; }

.rightside-contact .contact-list {
  overflow: auto;
  height: 100vh; }
  .rightside-contact .contact-list li {
    padding: 10px 15px; }
    .rightside-contact .contact-list li:nth-child(2n) {
      background-color: #F9F9F9; }
    .rightside-contact .contact-list li span {
      background: rgba(196, 196, 196, 0.5);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      width: 32px;
      height: 32px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      line-height: 32px; }
    .rightside-contact .contact-list li .media-body {
      color: #858585; }
      .rightside-contact .contact-list li .media-body h5 {
        color: #0B0D4A;
        font-size: 16px; }
    .rightside-contact .contact-list li .action-btn {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 300ms ease 0s;
      -moz-transition: all 300ms ease 0s;
      -ms-transition: all 300ms ease 0s;
      -o-transition: all 300ms ease 0s;
      transition: all 300ms ease 0s; }
      .rightside-contact .contact-list li .action-btn.active {
        opacity: 1;
        visibility: visible; }

.rightside-contact .nav-pills li a {
  padding: 15px;
  color: #0B0D4A; }
  .rightside-contact .nav-pills li a.active {
    background-color: #0B0D4A; }

/* ===== SMS Panel section ======*/
.sms-panel .nav-pills li a {
  padding: 10px 0;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  border-bottom: 2px solid #FDFDFD; }
  .sms-panel .nav-pills li a.active {
    color: #0B0D4A;
    border-bottom: 2px solid #0B0D4A;
    background: none; }

.sms-panel .tab-content .send-option .nav a {
  font-size: 14px;
  border: none;
  color: #0B0D4A;
  font-weight: 500;
  padding: 0 0 0 25px; }
  .sms-panel .tab-content .send-option .nav a.active {
    color: #4308BF; }
    .sms-panel .tab-content .send-option .nav a.active::after {
      border: 3px solid #4308BF; }
  .sms-panel .tab-content .send-option .nav a::after {
    border: 1px solid #0B0D4A;
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }

.sms-panel .tab-content .mobile-num span {
  top: 18px;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
  border-right: 1px solid #555555; }

.sms-panel .tab-content .mobile-num input {
  padding-left: 85px; }

.sms-panel .tab-content #sms-options li a {
  border: none;
  color: #999999;
  padding: 0.5rem 1.5rem; }
  .sms-panel .tab-content #sms-options li a::after {
    position: absolute;
    top: 8px;
    left: 0;
    content: '';
    border: 1px solid #999999;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }
  .sms-panel .tab-content #sms-options li a.active {
    color: #0B0D4A; }
    .sms-panel .tab-content #sms-options li a.active::after {
      position: absolute;
      top: 8px;
      left: 0;
      content: '';
      border: 1px solid #0B0D4A;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
    .sms-panel .tab-content #sms-options li a.active::before {
      position: absolute;
      top: 11px;
      left: 3px;
      content: '';
      background-color: #0B0D4A;
      width: 6px;
      height: 6px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
  @media screen and (max-width: 1024px) {
    .sms-panel .tab-content #sms-options li a {
      padding: 0.5rem 1rem; } }

.sms-panel .tab-content h2 {
  color: #C4C4C4;
  font-size: 24px;
  line-height: 35px; }

.sms-panel .tab-content #address-book #multiple-contacts p {
  font-size: 16px;
  line-height: 25px;
  color: #858585; }

.sms-panel .tab-content #address-book #customFile {
  line-height: 53px; }

.transaction-history-sec p {
  color: #C4C4C4;
  font-size: 22px;
  margin-top: 10px; }

/* ===== Sender ID section ======*/
#createSenderid p {
  font-size: 18px;
  color: #C4C4C4; }

/* ===== API Key section ======*/
.apikey-sec input {
  height: 50px; }

.apikey-sec table tr th {
  background-color: #C4C4C4;
  color: #4308BF;
  border-right: 1px solid #0B0D4A;
  padding: 15px;
  border-bottom: none; }
  .apikey-sec table tr th:last-child {
    border-right: none; }

.apikey-sec table tr td {
  border-right: 1px solid #0B0D4A;
  border-top: none;
  padding: 15px;
  color: #858585; }
  .apikey-sec table tr td:first-child, .apikey-sec table tr td span {
    color: #0B0D4A; }
  .apikey-sec table tr td:last-child {
    border-right: none; }

.apikey-sec .api-code-sec {
  background-color: #F7F7F7; }

/* Header Section */
header {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  position: relative; }
  @media screen and (min-width: 1025px) {
    header {
      z-index: 1; } }
  header .dropdown-toggle::after {
    border-top: 0.3em solid #000; }
  header .dropdown-menu {
    padding: 0; }
    header .dropdown-menu a {
      padding: 15px 10px;
      font-size: 14px; }
      header .dropdown-menu a:hover {
        background-color: #4308BF;
        color: #ffffff; }
  header .theme-btn {
    height: auto; }

.menu-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s; }
  .menu-overlay.shows {
    opacity: 1;
    visibility: visible; }

/* menu trigger */
@media screen and (max-width: 1024px) {
  .navbar-toggle {
    background: none;
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px; }
    .navbar-toggle span {
      width: 100%;
      display: block;
      height: 2px;
      background-color: #171717;
      position: absolute;
      right: 0;
      left: 0; }
    .navbar-toggle:after, .navbar-toggle:before {
      content: '';
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #171717; }
    .navbar-toggle:after {
      top: 0; }
    .navbar-toggle:before {
      bottom: 0; } }

/* Navigation Section */
.main-nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  @media screen and (max-width: 1024px) {
    .main-nav > li {
      position: relative; } }
  .main-nav > li .expand-icon {
    position: absolute;
    top: 12px;
    right: 0;
    width: 40px;
    height: 25px;
    text-align: center;
    line-height: 25px; }
    .main-nav > li .expand-icon.active i {
      background-position: -132px -81px;
      width: 18px;
      height: 5px; }
  .main-nav > li > a {
    color: #0B0D4A;
    position: relative;
    line-height: 18px;
    font-family: "Rubik", sans-serif;
    padding: 8px 15px;
    display: block;
    font-size: 16px;
    border: 1px solid transparent; }
    @media screen and (min-width: 1025px) {
      .main-nav > li > a {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
        .main-nav > li > a.active, .main-nav > li > a:hover {
          border: 1px solid #0B0D4A; } }
    @media screen and (max-width: 1024px) {
      .main-nav > li > a {
        border-bottom: 1px solid #555555;
        padding: 20px 20px; } }
  @media (max-width: 992px) {
    .main-nav > li {
      display: block; } }
  @media screen and (max-width: 1024px) {
    .main-nav {
      background-color: #FDFDFD;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      -webkit-transform: translateX(-285px);
      -moz-transform: translateX(-285px);
      -ms-transform: translateX(-285px);
      transform: translateX(-285px);
      height: calc(100vh);
      width: 285px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      z-index: 999; }
      .main-nav.nav-visible {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }

/* Footer section */
footer {
  -webkit-box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05); }
  footer ul li a {
    color: #0B0D4A;
    font-size: 14px; }
    footer ul li a:hover {
      color: #4308BF; }

/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v9-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/rubik-v9-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-300.woff2") format("woff2"), url("../fonts/rubik-v9-latin-300.woff") format("woff"), url("../fonts/rubik-v9-latin-300.ttf") format("truetype"), url("../fonts/rubik-v9-latin-300.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v9-latin-regular.woff") format("woff"), url("../fonts/rubik-v9-latin-regular.ttf") format("truetype"), url("../fonts/rubik-v9-latin-regular.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v9-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik-v9-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-500.woff2") format("woff2"), url("../fonts/rubik-v9-latin-500.woff") format("woff"), url("../fonts/rubik-v9-latin-500.ttf") format("truetype"), url("../fonts/rubik-v9-latin-500.svg#Rubik") format("svg");
  /* Legacy iOS */ }

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-700.woff2") format("woff2"), url("../fonts/rubik-v9-latin-700.woff") format("woff"), url("../fonts/rubik-v9-latin-700.ttf") format("truetype"), url("../fonts/rubik-v9-latin-700.svg#Rubik") format("svg");
  /* Legacy iOS */ }
