/*----------------------------------------------*/
/*  1.1 Normalize Style
/*----------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*----------------------------------------------*/
/*  1.2 Element Styles
/*----------------------------------------------*/
html, body {
    width: 100%;
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    color: $black-color;
    background-color: #FDFDFD;
    animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -webkit-animation-name: fadeIn 2s;
    animation-name: fadeIn 2s;
    letter-spacing: 1px;
    height: 100vh;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.container{
    max-width:1200px;
}

a {
    position: relative;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);
}

img {
    max-width: 100%;
    height: auto;
}
